name: Chaos Mesh test

on:
  push:
    branches: [develop]
  pull_request:
    branches: [develop]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Creating kind cluster
        uses: helm/kind-action@v1.3.0

      - name: Print cluster information
        run: |
          kubectl config view
          kubectl cluster-info
          kubectl get nodes
          kubectl get pods -n kube-system
          helm version
          kubectl version

      - name: Code Checkout 
        uses: actions/checkout@v2

      - name: Build application
        run: |
          docker build -t greeting src/greeting

      - name: Deploy an application
        run: |
          kubectl apply -f https://raw.githubusercontent.com/shukawam/chaos-mesh-examples/develop/kubernetes/app/app.yaml
          sleep 10

      - name: Check pods_1
        id: expected
        run: |
          running_pod_num=`kubectl get pods --field-selector=status.phase=Running --no-headers | wc -l`
          echo ${running_pod_num}
          echo "::set-output name=EXPECTED_POD_NUM::${running_pod_num}"

      - name: Run chaos mesh action
        uses: shukawam/chaos-mesh-action@main
        env:
          CFG_FILE: https://raw.githubusercontent.com/shukawam/chaos-mesh-examples/develop/kubernetes/chaos-mesh/pod-kill.yaml
          CHAOS_MESH_VERSION: v2.2.0

      - name: Check pods_2
        id: actual
        run: |
          sleep 10
          echo "Check Kubernetes Self-Healing"
          running_pod_num=`kubectl get pods --field-selector=status.phase=Running --no-headers | wc -l`
          echo ${running_pod_num}
          echo "::set-output name=ACTUAL_POD_NUM::${running_pod_num}"

      - name: Handling
        if: ${{ steps.expected.outputs.EXPECTED_POD_NUM != steps.actual.outputs.ACTUAL_POD_NUM }}
        run: |
          echo "Failed Chaos Experiment."
          echo "expected: ${{ steps.expected.outputs.EXPECTED_POD_NUM }}"
          echo "actual: ${{ steps.actual.outputs.ACTUAL_POD_NUM }}"
          exit 1
      
      - name: Create pull request
        uses: actions/github-script@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            github.pulls.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              title: 'Update the Chaos Mesh Examples',
              body: 'Update the Chaos Mesh Examples',
              head: 'develop',
              base: 'main'
            })